<div *ngIf="boat() as listing; else loading" class="boat-details-container">
    <mat-card class="detail-card">
        <mat-card-header>
            <mat-card-title class="boat-title">{{ listing.title }}</mat-card-title>
            <mat-card-subtitle>
                {{ listing.vessel?.make }} • {{ listing.vessel?.boatType }} • {{ listing.vessel?.year }}
            </mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <div class="boat-gallery" *ngIf="listing.vessel?.images">
                <img *ngFor="let img of listing.vessel?.images" [src]="img ? img : ''"
                    alt="{{ listing.vessel?.vesselName }}" />
            </div>

            <p class="boat-description">{{ listing.description }}</p>

            <div class="boat-meta">
                <p><strong i18n>Category:</strong> {{ listing.vessel?.category }}</p>
                <p><strong i18n>Class:</strong> {{ listing.vessel?.boatClass }}</p>
                <p><strong i18n>Length:</strong> {{ listing.vessel?.length_m }}m</p>
                <p><strong i18n>Condition:</strong> {{ listing.vessel?.condition }}</p>
                <p><strong i18n>Location:</strong> {{ listing.vessel?.city }}, {{ listing.vessel?.country }} ({{
                    listing.vessel?.port }})</p>
                <p><strong i18n>Price:</strong> {{ listing.price }} {{ listing.currency }}</p>
            </div>
        </mat-card-content>

        <mat-card-actions class="action-buttons">
            <button mat-flat-button color="primary" i18n>Contact Owner</button>
            <button mat-stroked-button color="accent" i18n>Add to Favorites</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="owner-card">
        <mat-card-header>
            <mat-card-title>Owner</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            @{{listing.owner?.username}}
        </mat-card-content>
    </mat-card>
</div>

<ng-template #loading>
    <p>Loading vessel details...</p>
</ng-template>