<button mat-icon-button [matMenuTriggerFor]="languageMenu" aria-label="language switcher menu">
    <mat-icon>language</mat-icon>
</button>

<mat-menu #languageMenu="matMenu">
    <button mat-menu-item *ngFor="let lang of languages" (click)="changeLang(lang)">
        {{ lang.toUpperCase() }}
        <img alt="United States" src="http://purecatamphetamine.github.io/country-flag-icons/3x2/{{ lang.toUpperCase() }}.svg" width="25"/>

        <mat-icon *ngIf="currentLang === lang">check</mat-icon>
    </button>
</mat-menu>