.add-listing-container {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.add-listing-card {
  width: 800px;
  background: white;
}

.add-listing-card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
  background-color: var(--mat-sys-primary-container);
  color: var(--mat-sys-primary);
  padding: 10px;
  margin-bottom: 20px;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  padding: 2rem;
}

.full-width {
  grid-column: span 2;
}

.engine-section {
  grid-column: span 3; 

  .engine-item {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
}

.vessel-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.image-upload {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  input[type="file"] {
    margin-bottom: 1rem;
  }

  .image-preview-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;

    .preview-item img {
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 8px;
      border: 1px solid #ddd;
    }
  }
}

.actions {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.listingTypeBtnGrp {
  width: 175px;
  grid-column: span 2;
}