.review-container {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.review-card {
    width: 800px;
    background: white;
}

.review-grid {
    display: grid;
    gap: 1.5rem;
    padding: 2rem;
}

.review-card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    background-color: var(--mat-sys-primary-container);
    color: var(--mat-sys-primary);
    padding: 10px;
}

.actions {
    margin-top: 2rem;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}