@use '@angular/material' as mat;

:host {
  @include mat.toolbar-overrides((
      container-background-color: var(--mat-sys-primary-container),
      container-text-color: var(--mat-sys-primary),
    ));
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 10;
}

.spacer {
  flex: 1 1 auto;
}

.menu-row {
  margin-left: 10px;
}

.user-menu-btn {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 0.5rem;
  text-transform: none;

  .user-menu-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-transform: none;
    justify-content: center;
  }
}

.avatar-sm {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  object-fit: cover;
}

.username {
  font-weight: 500;
}