<mat-toolbar color="primary">
  <span i18n="@@appName">🌊 OceanRota</span>

  <div class="menu-row">
    <button matButton [routerLink]="['/']">
      <mat-icon>anchor</mat-icon>
      <span i18n="@@navHome">Home</span>
    </button>
    <button matButton [routerLink]="['/marketplace']">
      <mat-icon>directions_boat</mat-icon>
      <span i18n="@@navMarketplace">Marketplace</span>
    </button>
    <button matButton [routerLink]="['/marine-services']">
      <mat-icon>construction</mat-icon>
      <span i18n="@@navMarineServices">Marine Services</span>
    </button>
    <button matButton [routerLink]="['/sea-personnel']">
      <mat-icon>person_apron</mat-icon>
      <span i18n="@@navSeaPersonnel">Sea Personnel</span>
    </button>
    <button matButton [routerLink]="['/learning-center']">
      <mat-icon>school</mat-icon>
      <span i18n="@@navLearningCenter">Learning Center</span>
    </button>
  </div>

  <span class="spacer"></span>

  <!-- If user is logged in -->
  <ng-container *ngIf="currentUser as user; else guestLinks">

    <button matButton [matMenuTriggerFor]="userMenu" class="user-menu-btn">
      <div class="user-menu-container">
        <img [src]="user.avatarUrl || 'assets/images/marine_icons/sailor.png'" alt="avatar" class="avatar-sm" />
        <span class="username">{{ user.username }}</span>
      </div>
      <mat-icon>arrow_drop_down</mat-icon>
    </button>

    <button matIconButton>
      <mat-icon>notifications</mat-icon>
    </button>
    <app-currency-switcher></app-currency-switcher>
    <app-language-switcher></app-language-switcher>

    <mat-menu #userMenu="matMenu">
      <button mat-menu-item [routerLink]="['/user/profile', user.username]">
        <mat-icon>person</mat-icon>
        <span i18n="@@menuProfile">Profile</span>
      </button>
      <button mat-menu-item>
        <mat-icon>message</mat-icon>
        <span i18n="@@menuLogout">Messages</span>
      </button>
      <button mat-menu-item>
        <mat-icon>favorite</mat-icon>
        <span i18n="@@menuLogout">Favorites</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span i18n="@@menuLogout">Logout</span>
      </button>
    </mat-menu>
  </ng-container>

  <!-- If no user is logged in -->
  <ng-template #guestLinks>
    <button mat-button routerLink="/login" i18n="@@loginBtn">Login</button>
    <button mat-stroked-button color="accent" routerLink="/register" i18n="@@registerBtn">
      Register
    </button>
  </ng-template>
</mat-toolbar>

<!-- Add Content Here -->
<main>
  <router-outlet />
</main>