<mat-toolbar color="primary">
  <span>OceanRota</span>

  <div class="menu-row">
    <button matButton [routerLink]="['/']"><mat-icon>anchor</mat-icon>Home</button>
    <button matButton [routerLink]="['/marketplace']"><mat-icon>directions_boat</mat-icon>Market Place</button>
    <button matButton [routerLink]="['/marine-services']"><mat-icon>construction</mat-icon>Marine Services</button>
    <button matButton [routerLink]="['/sea-personnel']"><mat-icon>person_apron</mat-icon>Sea Personnel</button>
    <button matButton [routerLink]="['/learning-center']"><mat-icon>school</mat-icon>Learning Center</button>
  </div>
  <span class="spacer"></span>
  <button matButton="elevated" [routerLink]="['/login']" aria-label="Login / Register">
    <mat-icon>login</mat-icon>
    Became a Member
  </button>
</mat-toolbar>
<!-- Add Content Here -->
<main>
  <router-outlet />
</main>