.add-listing-container {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.add-listing-card {
  width: 800px;
  background: white;
}

.add-listing-card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
  background-color: var(--mat-sys-primary-container);
  color: var(--mat-sys-primary);
  padding: 10px;
  margin-bottom: 20px;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  padding: 2rem;
}

.full-width {
  grid-column: span 2;
}

.engine-section {
  grid-column: span 3; 

  .engine-item {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
}

.vessel-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.image-upload {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  input[type="file"] {
    margin-bottom: 1rem;
  }

  .image-preview-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;

    .preview-item img {
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 8px;
      border: 1px solid #ddd;
    }
  }
}

.actions {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.listingTypeBtnGrp {
  width: 175px;
  grid-column: span 2;
}

.placeholder {
  text-align: center;
  padding: 20px;
  border: 2px dashed #ccc;
  border-radius: 10px;
  color: #777;

  .placeholder-img {
    width: 120px;
    opacity: 0.6;
    margin-bottom: 10px;
  }
}

.image-preview-grid {
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: 15px;
}

.preview-item {
  position: relative;
  border: 2px solid transparent;
  border-radius: 10px;
  overflow: hidden;

  &.featured {
    border-color: #ff9800;
    box-shadow: 0 0 6px rgba(255, 152, 0, 0.7);
  }

  img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    display: block;
  }

  .featured-btn {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    padding: 2px 10px;
    font-size: 11px;
    border-radius: 20px;
  }
}
