.create-service-container {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.create-service-card {
  width: 800px;
  padding: 2rem;
}

.full-width {
  width: 100%;
}

.actions {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
}