.create-sea-job-container {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.create-sea-job-card {
  width: 100%;
  max-width: 700px;
  padding: 1rem;
}

.full-width {
  width: 100%;
  margin-bottom: 1rem;
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}
